<html>

<head>
    <title>Login </title>
</head>

<body>

    <h1>Signup to Orisfina Bootcamp</h1>
    <form name="registration">
        <label for="username">username:</label>
        <br>

        <input type="text" name="username" required>
        <br>

        <label for="email">email:</label>
        <br>
        <input type="email" name="email" required>
        <br>

        <label for="password">password:</label>
        <br>
        <input type="password" name="password">

        <br>
        <label for="sex">Choose your Sex:</label>
        <br>

        <label for="male">Male:</label>
        <input type="radio" name="sex" value="Male">

        <label for="female">Female:</label>
        <input type="radio" name="sex" value="Female">



        <br>
        <select name="degree">
            <option value="HND">HND</option>
            <option value="ND">ND</option>
            <option value="NCE">NCE</option>
        </select>
        <br> <br>
        <input type="submit" value="Login to join others">
    </form>






    <!-- 

    <form name="login">
        <label for="username">username:</label>
        <br>

        <input type="text" name="username" required>
        <br>

        <label for="password">password:</label>
        <br>
        <input type="password" name="password">

        <br>
        <input type="submit" value="Login to join others" name="submit-btn">
    </form> -->

</body>

</html>